---
const { className, text } = Astro.props;

const styleClass: any = {
    'loader1': 'bg-[#EBB500] border-[#EBB500]',
    'loader2': 'bg-[#C90234] border-[#C90234]',
    'loader3': 'bg-[#002D9F] border-[#002D9F]'
}
const color: any = {
    'loader1': 'text-[#FBCB29]',
    'loader2': 'text-[#C90234]',
    'loader3': 'text-[#002D9F]'
}
---

<div class="basis-1/3">
    <div class={`dots w-[60px] h-[60px] rounded-full relative block mx-auto border-[3px] ${ styleClass[className] } after:content-[''] after:absolute after:inset-0 after:rounded-full after:border-solid after:border-white after:box-border after:rotate-45 before:absolute before:left-2/4 before:top-1/2 before:text-white before:font-Adieu before:text-sm before:w-[40px] before:h-[40px] before:text-center before:-translate-x-1/2 before:-translate-y-1/2 flex items-center justify-center`}><span class="w-[50px] h-[50px] bg-black block rounded-full opacity-10"></span></div><div class={`text-center mt-5 font-Adieu text-sm ${ color[className] }`}>{ text }</div>
</div>
