<div class="absolute w-11/12 h-5 left-1/2 bottom-44 -translate-x-2/4 rounded-xl overflow-hidden">
    <span id="loader"
        class="block opacity-0 relative h-full w-full border border-white border-solid rounded-[10px] overflow-hidden"></span>
</div>
<video class="h-screen w-screen object-cover" autoplay></video>
<audio id="beat" controls class="hidden">
    <source type="audio/mp3" src="./beat_mix.mp3" />
</audio>

<div class="border border-red-600 rounded-full p-1 fixed left-1/2 -translate-x-2/4 bottom-6 grid align-middle hover:border-none">
    <button 
        class="bg-red-600 rounded-full w-16 h-16 hover:bg-red-300 hover:w-[68px] hover:h-[68px] transition ease-out"></button>
</div>