---
import Home from "./icons/home.astro";
import ProgressBar from "./progressBar.astro";
---

<div id="screenLoading" class="fixed top-0 left-0 w-screen h-screen z-10 flex flex-col justify-center items-center opacity-0">
    <div class="flex items-center">
        <span class="loader_2 w-12 h-12 border-4 border-solid border-white border-b-[#ff3d00] rounded-full inline-block box-border"></span>
        <p class="text-white uppercase ml-3">Uploading...</p>
    </div>
    <p class="text-white mt-1">Tu video se esta cargando</p>
</div>
<img src="./frame.png" class="fixed top-0 left-0 w-screen h-[87.5vh]" alt="">
<video id="videoRecording" class="h-[87.5vh] w-screen object-cover" autoplay muted></video>
<audio id="beat" controls class="hidden">
    <source type="audio/mp3" src="./beat_mix.mp3" />
</audio>
<div class="bg-[#051234] fixed z-30 bottom-0 w-screen h-[152px] overflow-hidden border-t-4 border-[#DD0841] px-[105px]">
    <div class="float-left h-full flex items-center">
        <a href="/" class="flex gap-1 items-center text-white px-3 py-2 border border-[#ffffff33] bg-[#ffffff0d] rounded-full font-bull text-sm">
            <Home />
            Volver al inicio</a>
    </div>
    <div class="float-right w-2/4 flex justify-end items-center h-full gap-6">
        <button id="rec"
            class="text-white flex bg-[#DB0A40] px-3 py-2 text-sm rounded-full border-2 border-[#DB0A40] font-bull items-center">
            <span class=" w-[18px] h-[18px] rounded-full border-white border-2 mr-2 flex justify-center items-center">
                <span class="bg-white rounded-full w-2 h-2"></span>    
            </span>Grabar</button>
        <button id="stop"
            class="flex items-center justify-center w-9 h-9 rounded-full border-2 border-[#ffffff33] bg-[#ffffff0d]">
            <span class=" w-2.5 h-2.5 rounded-sm bg-white"></span>
        </button>
    </div>
</div>

<ProgressBar />

<script src="../../ts/recordVideo.ts"></script>
