<div class="flex flex-row loaderDiv">
  <div class="basis-1/3">
    <div class="loader loader1"></div><div class="txt t1">REGGAETON</div>
  </div>
  <div class="basis-1/3">
    <div class="loader loader2"></div><div class="txt t2">DUBSTEP</div>
  </div>
  <div class="basis-1/3">
    <div class="loader loader3"></div><div class="txt t3">TECHNO</div>
  </div>
</div>

<!--div class="finalProgress">
  <div id="progress-container">
    <div id="progress-bar"></div>
    <div id="progress-text">0%</div>
  </div>
  <div id="progressDiv">
    <div>
      <span>
      <svg
        id="svg1"
        fill="#FFDB3E"
        width="25px"
        height="25px"
        viewBox="0 0 210.2 207"
        xml:space="preserve"
        ><polygon
          points="167.8,103.5 105.1,139.7 42.4,175.8 42.4,103.5 42.4,31.1 105.1,67.3 "
        ></polygon></svg
      >

      <svg
        id="svg11"
        fill="#FFDB3E"
        width="25px"
        height="25px"
        viewBox="0 0 210.2 207"
        xml:space="preserve"
      >
        <g>
          <path
            class="st0"
            d="M105.1,28.3c-20,0-39.1,7.9-53.2,22s-22,33.2-22,53.2s7.9,39.1,22,53.2c14.1,14.1,33.2,22,53.2,22
		s39.1-7.9,53.2-22s22-33.2,22-53.2s-7.9-39.1-22-53.2S125,28.3,105.1,28.3z M105.1,164.1c-16.1,0-31.5-6.4-42.9-17.8
		c-11.4-11.4-17.8-26.8-17.8-42.9S50.8,72,62.2,60.6S89,42.8,105.1,42.8s31.5,6.4,42.9,17.8s17.8,26.8,17.8,42.9
		s-6.4,31.5-17.8,42.9C136.6,157.8,121.2,164.1,105.1,164.1z"
          ></path>
          <path
            class="st0"
            d="M97.8,112.6L81.1,95.9l-10.3,10.3L92.7,128l0,0c1.4,1.4,3.2,2.1,5.1,2.1s3.8-0.8,5.1-2.1l38.8-38.8l-10.3-10.3
		L97.8,112.6z"
          ></path>
        </g>
      </svg>
    </span>
      <span class="music music1">REGGAETON</span>
    </div>
    <div>
      <span>
      <svg
        id="svg2"
        fill="#EA3651"
        width="25px"
        class="svg2"
        height="25px"
        viewBox="0 0 210.2 207"
        xml:space="preserve"
        ><polygon
          points="167.8,103.5 105.1,139.7 42.4,175.8 42.4,103.5 42.4,31.1 105.1,67.3 "
        ></polygon></svg
      >

      <svg
        id="svg22"
        fill="#EA3651"
        width="25px"
        height="25px"
        viewBox="0 0 210.2 207"
        xml:space="preserve"
      >
        <g>
          <path
            class="st0"
            d="M105.1,28.3c-20,0-39.1,7.9-53.2,22s-22,33.2-22,53.2s7.9,39.1,22,53.2c14.1,14.1,33.2,22,53.2,22
		s39.1-7.9,53.2-22s22-33.2,22-53.2s-7.9-39.1-22-53.2S125,28.3,105.1,28.3z M105.1,164.1c-16.1,0-31.5-6.4-42.9-17.8
		c-11.4-11.4-17.8-26.8-17.8-42.9S50.8,72,62.2,60.6S89,42.8,105.1,42.8s31.5,6.4,42.9,17.8s17.8,26.8,17.8,42.9
		s-6.4,31.5-17.8,42.9C136.6,157.8,121.2,164.1,105.1,164.1z"
          ></path>
          <path
            class="st0"
            d="M97.8,112.6L81.1,95.9l-10.3,10.3L92.7,128l0,0c1.4,1.4,3.2,2.1,5.1,2.1s3.8-0.8,5.1-2.1l38.8-38.8l-10.3-10.3
		L97.8,112.6z"
          ></path>
        </g>
      </svg></span>
      <span class="music music2">DUBSTEP</span>
    </div>
    <div>
      <span>
      <svg
        id="svg3"
        fill="#0442C5"
        class="svg3"
        width="25px"
        height="25px"
        viewBox="0 0 210.2 207"
        xml:space="preserve"
        ><polygon
          points="167.8,103.5 105.1,139.7 42.4,175.8 42.4,103.5 42.4,31.1 105.1,67.3 "
        ></polygon></svg
      >

      <svg
        width="25px"
        height="25px"
        viewBox="0 0 210.2 207"
        xml:space="preserve"
        fill="#0442C5"
        id="svg33"
      >
        <g>
          <path
            class="st0"
            d="M105.1,28.3c-20,0-39.1,7.9-53.2,22s-22,33.2-22,53.2s7.9,39.1,22,53.2c14.1,14.1,33.2,22,53.2,22
		s39.1-7.9,53.2-22s22-33.2,22-53.2s-7.9-39.1-22-53.2S125,28.3,105.1,28.3z M105.1,164.1c-16.1,0-31.5-6.4-42.9-17.8
		c-11.4-11.4-17.8-26.8-17.8-42.9S50.8,72,62.2,60.6S89,42.8,105.1,42.8s31.5,6.4,42.9,17.8s17.8,26.8,17.8,42.9
		s-6.4,31.5-17.8,42.9C136.6,157.8,121.2,164.1,105.1,164.1z"
          ></path>
          <path
            class="st0"
            d="M97.8,112.6L81.1,95.9l-10.3,10.3L92.7,128l0,0c1.4,1.4,3.2,2.1,5.1,2.1s3.8-0.8,5.1-2.1l38.8-38.8l-10.3-10.3
		L97.8,112.6z"
          ></path>
        </g>
      </svg>
    </span>
    <span class="music music3">TECHNO</span>
    </div>
  </div>
</!--div-->
