---
import Bars from "./bars.astro";
---
<div class="flex flex-row relative mx-auto bottom-[27vh] w-[550px]">

  <Bars text="REGGAETON" className="loader1" />
  <Bars text="DUBSTEP" className="loader2" />
  <Bars text="TECHNO" className="loader3" />

</div>

<script src="../../ts/progressBar.ts"></script> 