---
import ButtonNext from "../components/astro/Buttons/buttonNext.astro";
import ButtonBack from "../components/astro/Buttons/buttonBack.astro";
import ButtonHome from "../components/astro/Buttons/buttonHome.astro";
import RedBull from "../components/astro/icons/RedBull.astro";
import StepsLayout from "../layouts/stepsLayout.astro";

export async function getStaticPaths() {
	const pages = [
		{
			slug: 'step-1',
			text: '1. Usa los auriculares',
			link: 'step-2',
			link_back: 'steps',
			bottom: '124px',
			animation: true,
			image: 'bg-[url(./images/headphones_sprites.gif)]',
			steps: '117'
		},
		{
			slug: 'step-2',
			text: '2. Presiona el botón de “comenzar”.',
			link: 'step-3',
			link_back: 'step-1',
			bottom: '124px',
			image: 'bg-[url(./images/fingerTap_sprites.gif)]',
			steps: '119'
		},
		{
			slug: 'step-3',
			text: '3. improvisa tu mejor rima para cada uno de los beats que empezarán a sonar.',
			link: 'step-4',
			link_back: 'step-2',
			bottom: '72px',
			image: 'bg-[url(./images/mic_sprites.png)]',
			steps: '139'
		},
		{
			slug: 'step-4',
			text: '4. Escanea el QR code para ver tu video y compártelo en redes usando el hashtag',
			link: 'ready',
			link_back: 'step-3',
			bottom: '72px',
			image: 'bg-[url(./images/qr_sprites.png)]',
			steps: '59',
			hash: true
		},
		{
			slug: 'ready',
			title: '¿Estás listo/a para improvisar?',
			text: '',
			link: 'rec',
			link_back: 'step-4',
			bottom: '134px'
		},
	];

	return pages.map(({ slug, title, text, link, link_back, bottom, animation, image, steps, hash }) => {
		return {
			params: { slug },
			props: { title, text, link, link_back, bottom, animation, image, steps, hash },
		}
	})
}

const { title, text, link, link_back, bottom, animation, image, steps, hash } = Astro.props;

const bt: any = {
	'124px': 'mb-[124px]',
	'72px': 'mb-[72px]',
	'46px': 'mb-[46px]',
	'134px': 'mb-[134px]',
}

---

<StepsLayout>
	<RedBull width="266" height="272" size={ false } />
	{
		(()=> {
			if(!title){
				return(
					<span class={`icon w-[150px] h-[150px] bg-no-repeat bg-cover ${ image } mt-[90px]`}></span>
				)
			}else{
				return(
					<h2 class="flex items-center flex-col text-[#0A2E89] font-Adieu text-center uppercase mt-[140px] text-[44px] w-[582px] leading-[54px]">{ title }</h2>
				)
			}
		})()
	}
	<div class={`flex items-center flex-col text-[#0A2E89] font-Adieu-regular text-center uppercase text-[22px] mt-12 ${ bt[bottom] }`}>
		
		<p class={`font-normal leading-tight ${ (!!title) ? 'w-[490px]': ( hash ) ? 'w-[630px]': 'w-[585px]'}`}>
			{ text }
			{
				(() => {
					if(hash){
						return (
							<span class="text-[#DD0841] font-Adieu"> #redbullbatalla</span>
							)
						}
				})()
			}
		</p>
		{
			(() => {				
				if (!!title) {
					return(
						<p class="text-sm w-[463px] -mt-5">Nota: presiona el botón de “stop” en Caso de querer reiniciar la grabación.</p>
					)
				}
			})()
		}
	</div>
	<div class="flex gap-x-6">
		<ButtonHome link="" animation={ animation } />
		<ButtonBack link={ link_back } text="Atras" animation={ animation } />
		<ButtonNext link={ link } text="Siguiente" animationF={ animation } />
	</div>
</StepsLayout>

<style define:vars={{ steps }}>
	.icon {
    	animation: sprite 3s steps(var(--steps)) infinite;
  	}
	@keyframes sprite {
		from { background-position: 0% 0; }
		to { background-position: 100% 0;  }
	}
</style>