---
import { RecordVideo } from '../components/react/recordVideo'
import Interface from "../components/astro/interface.astro";
import Styles from "../css/styles.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>RedBull App</title>
		<Styles />
	</head>
	<body>
		<div class="w-screen">
			<!-- <RecordVideo client:only="react" /> -->
			<Interface />
		</div>

		<script is:inline src='https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.3/lottie.min.js'></script>
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
		<script src="../ts/recordVideo.ts"></script>
		<script src="../ts/progressBar.ts"></script>
	</body>
</html>

