---
import GeneralLayout  from "../layouts/generalLayout.astro";
import  ButtonNext  from "../components/astro/Buttons/buttonNext.astro";
import RedBull from "../components/astro/icons/RedBull.astro";

---

<GeneralLayout>
	<main class="bg-[url('./images/bg.png')] bg-cover bg-no-repeat bg-center">
		<div class="animationDiv w-screen h-screen flex justify-center items-center bg-[url('./images/splashes.png')] bg-[#0C134F] transition duration-500 flex-col bg-no-repeat bg-cover">
			<RedBull width="398" height="408" size={ true } />
			<div class="animationDiv top-[54vh] text-center text-white font-Adieu uppercase opacity-0 transition fixed duration-500">
				<h1 class="text-[54px] leading-10 font-black">
					Bienvenido/a
				</h1>
				<p class="text-base font-bold mt-2.5">A Red Bull Batalla freestyle booth</p>
				<p class="text-xl mt-[69px] mb-[73px] w-[464px] leading-5 mx-auto">Atrévete y demuestra tu talento para improvisar.</p>
				<ButtonNext link="steps" text="Continuar" />
			</div>
		</div>
	</main>
</GeneralLayout>

<script is:inline>
setTimeout(() => {
	const div = document.querySelectorAll('.animationDiv')
	div[0].classList.remove('bg-[#0C134F]')
	document.querySelector('svg')?.classList.add('logoRb')
	setTimeout(() => {
		div[1].classList.remove('opacity-0')
	}, 300);
}, 1000);

</script>