---
import GeneralLayout  from "../layouts/generalLayout.astro";
---
<GeneralLayout>
    <main class="bg-[url('./images/splashes-pasos.png')] bg-cover bg-no-repeat bg-center">
        <div class="w-screen h-screen flex justify-center items-center flex-col">
            <slot />
        </div>
    </main>
</GeneralLayout>